<% include partials/header %>

  <div class="section">
    <div class="container">
      <h1>Edit <%= park.name %></h1>
      
      <form action="/parks/<%= park._id %>?_method=PUT" method="POST">
        
        <div class="field">
          <label class="label">Park Name</label>
          <div class="control">
            <input class="input" type="text" name="park[name]" value="<%= park.name %>">
          </div>
        </div>
      
        <div class="field">
          <label class="label">Main image</label>
          <div class="control">
            <input class="input" type="text" name="park[image]" placeholder="url" value="<%= park.image %>">
          </div>
        </div>
        
        <div class="field">
          <label class="label">Summary</label>
          <div class="control">
            <input class="input" type="text" name="park[description]" placeholder="140 characters or less" value="<%= park.description %>">
          </div>
        </div>

        <div class="level">
          <div class="level-item">
            <div class="field is-grouped">
             <div class="control">
               <input class="button is-link" type="submit">
              </div>
              <div class="control">
                <a href="parks"><button class="button is-text">Cancel</button></a>
              </div>
            </div>
          </div>
        </div>
        
      </form>
      
      
    </div>
  </div>

<% include partials/footer %>