<% include partials/header %>

  <h1><%= park.name %> Profile</h1>
  <p><a class="button is-light" href="<%= park._id%>/edit">Edit</a>  </p>
  <p><%= park.description %></p>
  <p><img src="<%= park.image %>"></p>
  <p>
    <form id="delete" action="/parks/<%= park._id %>?_method=DELETE" method="POST">
    	<button class="button is-danger">Delete</button>
    </form>

  </p>

<% include partials/footer %>