<% include partials/header %>
  <div class="section">
    <div class="container has-text-centered">
      <a href="parks" class="button is-link">Go back</a>
    </div>
  </div>
  
  <div class="section">
    <div class="container">
      <h1 class="title is-1"><%= park.name %></h1>
      
      <p><%= park.description %></p>
      <p><img src="<%= park.image %>"></p>
      
      <div class="level">
        <p class="level-left">
          <a class="button is-outlined" href="<%= park._id%>/edit">
            Edit
          </a>
        </p>
        <p class="level-right">
          <form id="delete" action="/parks/<%= park._id %>?_method=DELETE" method="POST">
          	<button class="button is-danger">Delete</button>
          </form>
        </p>
      </div>
      
    </div>
  </div>

  

<% include partials/footer %>